<component name="ArtifactManager">
  <artifact type="war" name="mybatis_multiple:war">
    <output-path>$PROJECT_DIR$/mybatis_multiple/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis_multiple</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis_multiple-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis_multiple:war exploded" />
    </root>
  </artifact>
</component>